.Rhistory
.RData
.Rproj.user
Read-and-delete-me
*.Rproj
src/*.so
man/.DS_Store
R/.DS_Store
.DS_Store
CIDER.Rproj
inst/doc
doc
Meta
inhouse_notes.txt
.Rhistory
.DS_Store
.git/.DS_Store
.git/objects/.DS_Store
..Rcheck/00check.log
.Rhistory
.DS_Store
.git/.DS_Store
.git/objects/.DS_Store
.Rproj.user/.DS_Store
data/.DS_Store
vignettes/.DS_Store
..Rcheck/00check.log
..Rcheck/*
